# Node modules
node_modules/

# Cypress cache & artifacts
cypress/screenshots/
cypress/videos/
cypress/downloads/

# Cypress binary cache
.cache/
Cypress/

# Logs & temp
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env files (om du har secrets)
.env
.env.*

# OS & IDE-specific
.DS_Store
.vscode/
.idea/
